* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navigation {
  position: fixed;
  width: 15%;
  background-color: rgb(247, 247, 247);
  height: 100%;
  box-shadow: 9px 4px 8px -2px rgba(34, 60, 80, 0.2);
}
.text_h2 {
  font-size: 30px;
  color: rgb(61, 61, 61);
  padding: 10% 10% 10% 18%;
  border-bottom: 1px solid black;
}
.menu_nav {
  list-style-type: none;
  font-size: 22px;
  padding-left: 5%;
}
.menu_nav li {
  width: 280px;
  margin-top: 12px;
  padding: 8%;
  position: relative;
  padding-left: 35%;
}
.menu_nav li:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  width: 100%;
  height: 100%;
  background: url("dashboard_gray.svg") no-repeat center;
  transform: scale(0.8);
}
.menu_nav li:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  width: 100%;
  height: 100%;
  background: url("account_gray.svg") no-repeat center;
  transform: scale(0.8);
}
.menu_nav li:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  width: 100%;
  height: 100%;
  background: url("map_gray.svg") no-repeat center;
  transform: scale(0.8);
}

.menu_nav li:nth-child(4):before {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  width: 100%;
  height: 100%;
  background: url("notify_gray.svg") no-repeat center;
  transform: scale(0.8);
}
.menu_nav li:nth-child(5):before {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  width: 100%;
  height: 100%;
  background: url("support_gray.svg") no-repeat center;
  transform: scale(0.8);
}

.Dashboard:hover {
  background-color: rgb(247, 47, 130);
  color: white;
  box-shadow: 13px 12px 3px -10px rgba(34, 60, 80, 0.2);
}
.main_block {
  margin-left: 18%;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
}
.money_block {
  margin-top: 100px;
  position: relative;
  width: 300px;
  height: 150px;
  background-color: rgb(245, 245, 245);
  box-shadow: 11px 6px 3px 1px rgba(34, 60, 80, 0.2);
}
.main_block h2 {
  padding-top: 12px;
}
.money_image {
  margin-top: -22px;
  margin-left: 22px;
  position: absolute;
  padding: 32px;
  background-color: rgb(31, 150, 60);
  width: 80px;
  height: 80px;
  box-shadow: 11px 10px 3px -9px rgba(34, 60, 80, 0.2);
}
.money_text {
  padding-top: 21px;
  text-align: right;
  padding-right: 22px;
}
.choice {
  font-size: 20px;
}
.dolors {
  font-size: 32px;
  margin-bottom: 12px;
}
hr {
  margin: auto;
  width: 85%;
}
